.container {
    p {
        text-align: center;
        margin: 0;
        margin-bottom: 3px;
        font-size: 15px;
    }

    .optinons {
        margin-top: 10px;

        display: flex;
        flex-direction: row;

        .language {
            width: 45px;
            height: 45px;
            border: 2px white solid;
            border-radius: 50px;
            font-size: 20px;
            margin: 0 5px;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
