<form [formGroup]="LoginForm" class="form">
  <InputPer title="Email" [isTouched]="getAbstractControl('email').value">
    <ion-input
      placeholder="Email"
      formControlName="email"
      mode="ios"
      required
      inputmode="text"
    ></ion-input>
  </InputPer>

  <InputPer
    [title]="'register.titleConfirnEmail' | translate"
    [isTouched]="getAbstractControl('cEmail').value"
  >
    <ion-input
      [placeholder]="'register.titleConfirnEmail' | translate"
      formControlName="cEmail"
      mode="ios"
      required
      inputmode="text"
    ></ion-input>
  </InputPer>

  <InputPer
    [title]="'register.titlePassword' | translate"
    [isPasswordInput]="true"
    [isTouched]="getAbstractControl('password').value"
    (onShowPassword)="handleShowPassword($event)"
  >
    <ion-input
      [placeholder]="'register.titlePassword' | translate"
      formControlName="password"
      [type]="typePassword"
      mode="ios"
    ></ion-input>
  </InputPer>

  <InputPer
    [title]="'register.titleConfirnPassword' | translate"
    [isPasswordInput]="true"
    [isTouched]="getAbstractControl('password').value"
    (onShowPassword)="handleShowCorfirnPassword($event)"
  >
    <ion-input
      [placeholder]="'register.titleConfirnPassword' | translate"
      formControlName="cPassword"
      [type]="typeCorfirnPassword"
      mode="ios"
    ></ion-input>
  </InputPer>

  <InputPer
    [title]="'register.titlePin' | translate"
    [isPasswordInput]="true"
    [isTouched]="getAbstractControl('password').value"
    (onShowPassword)="handleShowPin($event)"
  >
    <ion-input
      [placeholder]="'register.titlePin' | translate"
      formControlName="pin"
      [type]="typePin"
      mode="ios"
    ></ion-input>
  </InputPer>

  <InputPer
    [title]="'register.titleConfirnPin' | translate"
    [isPasswordInput]="true"
    [isTouched]="getAbstractControl('password').value"
    (onShowPassword)="handleShowCorfirnPin($event)"
  >
    <ion-input
      [placeholder]="'register.titleConfirnPin' | translate"
      formControlName="cPin"
      [type]="typeCorfirnPin"
      mode="ios"
    ></ion-input>
  </InputPer>
</form>
