<ng-container>
  <div class="headerForm">
    <h4>{{ "register.personalInformation" | translate }}</h4>
  </div>

  <form [formGroup]="personalForm" class="form">
    <ion-item class="input">
      <ion-label>{{ "register.titleCountry" | translate }}</ion-label>
      <ion-select
        formControlName="country"
        value=""
        okText="OK"
        cancelText="Cancel"
      >
        <ion-select-option value="Venezuela">Venezuela</ion-select-option>
        <ion-select-option value="Uganda">Uganda</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="input">
      <ion-label>{{ "register.titleState" | translate }}</ion-label>
      <ion-select
        formControlName="state"
        value=""
        okText="OK"
        cancelText="Cancel"
      >
        <ion-select-option value="Lara">Lara</ion-select-option>
        <ion-select-option value="Falcon">Falcon</ion-select-option>
        <ion-select-option value="Guarico">Guarico</ion-select-option>
      </ion-select>
    </ion-item>

    <InputPer
      [title]="'register.titleNames' | translate"
      [isTouched]="getAbstractControl('names').value"
    >
      <ion-input
        [placeholder]="'register.titleNames' | translate"
        formControlName="names"
        mode="ios"
        required
        inputmode="text"
      ></ion-input>
    </InputPer>

    <InputPer
      [title]="'register.titleSurnames' | translate"
      [isTouched]="getAbstractControl('surnames').value"
    >
      <ion-input
        [placeholder]="'register.titleSurnames' | translate"
        formControlName="surnames"
        mode="ios"
        required
        inputmode="text"
      ></ion-input>
    </InputPer>

    <InputPer
      [title]="'register.titleCI' | translate"
      [isTouched]="getAbstractControl('ci').value"
    >
      <ion-select
        formControlName="codeCi"
        value="v"
        okText="OK"
        cancelText="Cancel"
      >
        <ion-select-option value="v">V</ion-select-option>
        <ion-select-option value="e">E</ion-select-option>
      </ion-select>

      <ion-input
        [placeholder]="'register.titleCI' | translate"
        formControlName="ci"
        type="number"
        mode="ios"
      ></ion-input>
    </InputPer>

    <InputPer
      [title]="'register.titlePostalCode' | translate"
      [isTouched]="getAbstractControl('postalCode').value"
    >
      <ion-input
        [placeholder]="'register.titlePostalCode' | translate"
        formControlName="postalCode"
        mode="ios"
        type="number"
      ></ion-input>
    </InputPer>

    <InputPer
      [title]="'register.titleAddress' | translate"
      [isTouched]="getAbstractControl('address').value"
      [isTextArea]="true"
    >
      <ion-textarea
        [placeholder]="'register.titleAddress' | translate"
        formControlName="address"
        mode="ios"
        inputmode="text"
      >
      </ion-textarea>
    </InputPer>

    <InputPer
      [title]="'register.titleCity' | translate"
      [isTouched]="getAbstractControl('city').value"
    >
      <ion-input
        [placeholder]="'register.titleCity' | translate"
        formControlName="city"
        mode="ios"
        inputmode="text"
      ></ion-input>
    </InputPer>

    <InputPer
      [title]="'register.titleLandLine' | translate"
      [isTouched]="getAbstractControl('landline').value"
      [showBtnInfo]="true"
      (onClickInfo)="handleInfoLandline($event)"
    >
      <ion-input
        [placeholder]="'register.titleLandLine' | translate"
        formControlName="landline"
        mode="ios"
        type="tel"
      ></ion-input>
    </InputPer>

    <InputPer
      [title]="'register.titleCellPhone' | translate"
      [isTouched]="getAbstractControl('cellphone').value"
      [showBtnInfo]="true"
      (onClickInfo)="handleInfoCellphone($event)"
    >
      <ion-input
        [placeholder]="'register.titleCellPhone' | translate"
        formControlName="cellphone"
        mode="ios"
        type="tel"
      ></ion-input>
    </InputPer>

    <ion-item>
      <ion-label>{{ "register.terms" | translate }}</ion-label>
      <ion-checkbox
        formControlName="terms"
        [value]="getAbstractControl('terms').value"
        slot="start"
        mode="ios"
        color="success"
      ></ion-checkbox>
    </ion-item>
  </form>
</ng-container>
