<ng-container>
  <div class="headerForm">
    <h4>Personal information</h4>
  </div>

  <form [formGroup]="LoginForm" class="form">
    <ion-item class="input">
      <ion-label>Country of resident</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="input">
      <ion-label>state</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>

    <InputPer title="Names" [isTouched]="getAbstractControl('names').value">
      <ion-input
        placeholder="Names"
        formControlName="names"
        mode="ios"
        required
        inputmode="text"
      ></ion-input>
    </InputPer>

    <InputPer
      title="Surnames"
      [isTouched]="getAbstractControl('surnames').value"
    >
      <ion-input
        placeholder="Surnames"
        formControlName="surnames"
        mode="ios"
        required
        inputmode="text"
      ></ion-input>
    </InputPer>

    <InputPer
      title="ID number"
      [isTouched]="getAbstractControl('password').value"
    >
      <ion-select value="v" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="v">V</ion-select-option>
        <ion-select-option value="e">E</ion-select-option>
      </ion-select>

      <ion-input
        placeholder="ID number"
        formControlName="password"
        [type]="typePassword"
        mode="ios"
      ></ion-input>
    </InputPer>

    <InputPer
      title="Postal code"
      [isTouched]="getAbstractControl('postalCode').value"
    >
      <ion-input
        placeholder="Postal code"
        formControlName="postalCode"
        mode="ios"
        required
        inputmode="text"
      ></ion-input>
    </InputPer>

    <InputPer title="Address" [isTouched]="getAbstractControl('address').value">
      <ion-textarea
        placeholder="Address"
        formControlName="address"
        mode="ios"
        required
        inputmode="text"
      >
      </ion-textarea>
    </InputPer>

    <InputPer
      title="City o province o colony"
      [isTouched]="getAbstractControl('city').value"
    >
      <ion-input
        placeholder="City o province o colony"
        formControlName="city"
        mode="ios"
        required
        inputmode="text"
      ></ion-input>
    </InputPer>

    <InputPer
      title="Landline"
      [isTouched]="getAbstractControl('landline').value"
      [showBtnInfo]="true"
      (onClickInfo)="handleShowPassword($event)"
    >
      <ion-input
        placeholder="Landline E.x (0212) 1234567"
        formControlName="landline"
        mode="ios"
        required
        type="tel"
      ></ion-input>
    </InputPer>

    <InputPer
      title="Cell phone"
      [isTouched]="getAbstractControl('cellphone').value"
      [showBtnInfo]="true"
      (onClickInfo)="handleShowPassword($event)"
    >
      <ion-input
        placeholder="Cell phone E.g: (0414) 1234567"
        formControlName="cellphone"
        mode="ios"
        required
        type="tel"
      ></ion-input>
    </InputPer>

    <ion-item>
      <ion-label>I have read and accept the terms and conditions</ion-label>
      <ion-checkbox slot="start" mode="ios" color="success"></ion-checkbox>
    </ion-item>
  </form>
</ng-container>
