<ion-content>
  <div class="conatiner">
    <div class="header">
      <ion-button fill="clear" color="light" [routerLink]="['/auth/login']">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>

      <h4>Sign in</h4>

      <div class="button">
        <ion-button fill="clear" color="light">OK</ion-button>
      </div>
    </div>
    <div class="title">
      <h5>Account type</h5>
    </div>

    <!-- Selecciona el tipo de cuenta a registrar -->
    <div class="accountTypes">
      <div class="type">
        <ion-icon name="person-outline"></ion-icon>
        <span>Personal</span>
      </div>
      <div class="type">
        <ion-icon name="business-outline"></ion-icon>
        <span>Business</span>
      </div>
    </div>

    <div class="separator"></div>

    <!-- FORM REGISTER -->
    <FormRegister></FormRegister>

    <!-- FORM PERSONAL INFORMATION -->
    <FormPersonalInformation></FormPersonalInformation>
  </div>
</ion-content>
