<form [formGroup]="LoginForm" class="form">
  <InputPer
    name="email"
    title="Email"
    [isTouched]="getAbstractControl('email').value"
    colorText="rgb(223, 223, 223)"
  >
    <ion-input
      placeholder="Email"
      formControlName="email"
      mode="ios"
      required
      inputmode="text"
    ></ion-input>
  </InputPer>

  <InputPer
    name="password"
    title="Password"
    [isPasswordInput]="true"
    [isTouched]="getAbstractControl('password').value"
    (onShowPassword)="handleShowPassword($event)"
    colorText="rgb(223, 223, 223)"
  >
    <ion-input
      placeholder="Password"
      formControlName="password"
      [type]="typePassword"
      mode="ios"
    ></ion-input>
  </InputPer>

  <div class="check">
    <label>keep connected</label>
    <ion-toggle color="primary" mode="ios"></ion-toggle>
  </div>

  <div class="actions">
    <ion-button expand="block" color="primary" mode="ios">Sign in</ion-button>
    <ion-button
      expand="block"
      fill="clear"
      mode="ios"
      [routerLink]="['/auth/register']"
      >Sign up</ion-button
    >
  </div>

  <p class="language" (click)="setLanguage()">Change language</p>
</form>
