<form [formGroup]="LoginForm" class="form">
  <InputPer
    [title]="'login.titleEmail' | translate"
    [isTouched]="getAbstractControl('email').value"
    colorText="rgb(223, 223, 223)"
  >
    <ion-input
      [placeholder]="'login.titleEmail' | translate"
      formControlName="email"
      mode="ios"
      required
      inputmode="text"
    ></ion-input>
  </InputPer>

  <InputPer
    [title]="'login.titlePassword' | translate"
    [isPasswordInput]="true"
    [isTouched]="getAbstractControl('password').value"
    (onShowPassword)="handleShowPassword($event)"
    colorText="rgb(223, 223, 223)"
  >
    <ion-input
      [placeholder]="'login.titlePassword' | translate"
      formControlName="password"
      [type]="typePassword"
      mode="ios"
    ></ion-input>
  </InputPer>

  <div class="check">
    <label>{{ "login.keep" | translate }}</label>
    <ion-toggle color="primary" mode="ios"></ion-toggle>
  </div>

  <div class="actions">
    <ion-button expand="block" color="primary" mode="ios">{{ "login.SignIn" | translate }}</ion-button>
    <ion-button
      expand="block"
      fill="clear"
      mode="ios"
      [routerLink]="['/auth/register']"
      >{{ "login.SignUp" | translate }}</ion-button
    >
  </div>

  <p class="language" (click)="setLanguage()">{{ "login.change" | translate }}</p>
</form>
